<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>ES Engine</title>

</head>
<body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Georgia', cursive;">
        <p>
          <center>
            <p style = "font-family:courier,arial,helvetica;">
              Write your search here
              </p>
          </center>
        </p>
      </div>
    </div>

    <form action="/search" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Search" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-dark btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <br><br>
      <footer class="footer">
      
      </footer>

      </div>
    </div>
  </body>
</html>